html {
  font-family: Helvetica;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}

h1 {
  color: #0F3376;
  padding: 2vh;
}

h2 {
  color: #0F3376;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

.button {
  display: inline-block;
  background-color: #f44336;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  margin: 2px;
  cursor: pointer;
}

.button2 {
  background-color: #4CAF50;
}

.info {
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
  font-size: 14px;
}